<aside class="w-64 bg-white shadow p-4 hidden md:block">
    <ul class="space-y-2">
        <li><a href="/" class="block p-2 rounded hover:bg-gray-200">Dashboard</a></li>
        <li><a href="/job_applications" class="block p-2 rounded hover:bg-gray-200">Job Applications</a></li>
        <li><a href="/generate" class="block p-2 rounded hover:bg-gray-200">Generate Assets</a></li>
        <li><a href="/outreach" class="block p-2 rounded hover:bg-gray-200">Outreach</a></li>
        <li><a href="/calendar" class="block p-2 rounded hover:bg-gray-200">Calendar</a></li>
    </ul>
</aside>
